
@font-face {
	font-family: 'AdventPro-Regular';
  src: url('../fonts/adventpro-regular-webfont.woff2') format('woff2'),
       url('../fonts/adventpro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
	background-color: #F1F0EB;
	color: #2D3849;
	font-family: 'AdventPro-Regular', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'PingFang TC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
	font-size: 14px;
  border-top: 6px solid #EF4142;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 1280px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
  padding: 0 7%;
}
@media (max-width: 520px) {
  section {
    padding: 0 3%;
  }
}

a {
  color: #EF4142;
  transition: .25s all ease-in-out;
}
a:hover {
  color: #BB3233;
}

.red {
  color: #EF4142;
}

#header .brand {
  flex-grow: auto;
  flex-basis: 1;
  margin-top: 30px;
}

.home {
  display: block;
  cursor: pointer;
}

.localization {
  color: #7B828A;
}
.localization a {
  color: #7B828A;
  text-decoration: none;
}
.localization a.active,
.localization a:hover {
  color: #EF4142;
}

#header .cover {
	display: flex;
  flex-grow: 1;
  flex-basis: 0;
	flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 40px;
}

.slogan {
  margin-bottom: 18px;
  font-size: 72px;
}
.desc {
  max-width: 690px;
  margin-bottom: 78px;
  font-size: 18px;
}
.call-to-action {
  width: auto;
  padding: 0 26px;
  line-height: 80px;
  background-color: #EF4142;
  color: #FFF;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}
.call-to-action:hover {
  background-color: #BB3233;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 520px) {
  .call-to-action {
    padding: 0 16px;
    line-height: 64px;
    font-size: 18px;
  }
}

.gallery {
  margin-bottom: 32px;
}
.screenshot {
  width: 311px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #7B828A;
}
.screenshot:last-child {
  margin-right: 0;
}
@media (max-width: 340px) {
  .screenshot {
    width: 280px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

#future-caps,
#daily-caps {
  padding-bottom: 40px;
}

#future-caps h2,
#daily-caps h2 {
  margin-bottom: 20px;
  color: #EF4142;
  font-size: 24px;
}
#future-caps p,
#daily-caps p {
  max-width: 500px;
  margin-bottom: 10px;
}

#footer .contact {
  margin-top: 160px;
  margin-bottom: 44px;
  font-size: 18px;
}
#footer p {
  margin-bottom: 10px;
}

.social {
  margin-top: 24px;
}
.social a {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}
.icon-email {
  background-image: url('../img/email.png');
  background-image: -webkit-image-set(url('../img/email.png') 1x, url('../img/email@2x.png') 2x);
  background-image: -moz-image-set(url('../img/email.png') 1x,url('../img/email@2x.png') 2x);
  background-image: -ms-image-set(url('../img/email.png') 1x,url('../img/email@2x.png') 2x);
  background-image: -o-image-set(url('../img/email.png') 1x,url('../img/email@2x.png') 2x);
}
.icon-twitter {
  background-image: url('../img/twitter.png');
  background-image: -webkit-image-set(url('../img/twitter.png') 1x, url('../img/twitter@2x.png') 2x);
  background-image: -moz-image-set(url('../img/twitter.png') 1x,url('../img/twitter@2x.png') 2x);
  background-image: -ms-image-set(url('../img/twitter.png') 1x,url('../img/twitter@2x.png') 2x);
  background-image: -o-image-set(url('../img/twitter.png') 1x,url('../img/twitter@2x.png') 2x);
}
.icon-instagram {
  background-image: url('../img/instagram.png');
  background-image: -webkit-image-set(url('../img/instagram.png') 1x, url('../img/instagram@2x.png') 2x);
  background-image: -moz-image-set(url('../img/instagram.png') 1x,url('../img/instagram@2x.png') 2x);
  background-image: -ms-image-set(url('../img/instagram.png') 1x,url('../img/instagram@2x.png') 2x);
  background-image: -o-image-set(url('../img/instagram.png') 1x,url('../img/instagram@2x.png') 2x);
}
.icon-weibo {
  background-image: url('../img/weibo.png');
  background-image: -webkit-image-set(url('../img/weibo.png') 1x, url('../img/weibo@2x.png') 2x);
  background-image: -moz-image-set(url('../img/weibo.png') 1x,url('../img/weibo@2x.png') 2x);
  background-image: -ms-image-set(url('../img/weibo.png') 1x,url('../img/weibo@2x.png') 2x);
  background-image: -o-image-set(url('../img/weibo.png') 1x,url('../img/weibo@2x.png') 2x);
}
.icon-github {
  background-image: url('../img/github.png');
  background-image: -webkit-image-set(url('../img/github.png') 1x, url('../img/github@2x.png') 2x);
  background-image: -moz-image-set(url('../img/github.png') 1x,url('../img/github@2x.png') 2x);
  background-image: -ms-image-set(url('../img/github.png') 1x,url('../img/github@2x.png') 2x);
  background-image: -o-image-set(url('../img/github.png') 1x,url('../img/github@2x.png') 2x);
}
